@model DOANTOTNGHIEP.Modelcreate.Kiemtradaovan
@{
    Layout = "~/Views/Shared/Layoutclass.cshtml";
}
<script>
    $(function () {
        $('.selectperson').change(function () {
            $(".filesosanh").attr('src', $(this).find('option:selected').data('file1') + "#toolbar=0&navpanes=0&scrollbar=0");
        });
    });
        
       
</script>
<style type="text/css">
    .headbaitap {
        background-color: white !important;
    }
</style>
@{
    if (Model != null)
    {
    <div style="margin-top:20px">


        
        <div style="padding:10px">
            
            <div style="float: right; min-width: calc(100% - 250px); max-width: calc(100% - 250px); padding: 0px ">

                <iframe src=`http://localhost:1909/public/file?location=@Model.daovan.ToArray()[0].Location`
                        frameBorder="0"
                        scrolling="auto"
                        height="95%"
                        width="100%" class="filesosanh"></iframe>


            </div>

        </div>
    </div>
    }
}

